<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 text-center mt-5">
      <h4>管理者用ログイン</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <table class="table table-borderless">
          <tr>
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "admin@admin" %></td>
          </tr>
          <tr>
            <td><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "password" %></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= f.submit "Log In", class:"btn btn-primary"  %>
            </td>
          </tr>
        </table>
      <% end %>
  </div>
</div>

