<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-2">
      <%= image_tag @post_event.get_image(100,100), class: "rounded-lg" %>
    </div>
    <div class="col-4">
      <table class="table table-borderless matsuri-style">
        <tbody>
          <tr>
            <td>イベント名</td>
            <td><%= @post_event.title %></td>
          </tr>
          <tr>
            <td>開催日時</td>
            <td><%= @post_event.event_date %></td>
          </tr>
          <tr>
            <td>説明</td>
            <td><%= @post_event.caption %></td>
          </tr>
          <tr>
            <td>投稿ユーザー画像</td>
            <td><%= image_tag @post_event.user.get_profile_image(100,100) %></td>
          </tr>
          <tr>
            <td>ユーザーネーム</td>
            <td><%= @post_event.user.name %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-3">
    <div class="col-4 d-flex justify-content-center">
      <%= link_to "管理者権限で削除する", post_event_path(@post_event), method: :delete, class:'btn btn-block btn-danger mt-1', "data-confirm" => "本当に削除しますか?" %>
    </div>
  </div>
</div>
