
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-6 border border-light mt-5">
      <h5 class="text-center p-4 mb-0">イベント編集</h5>
      <div class="form-body p-4">
        
        <%= form_with model: @post_event,method: :patch do |f| %>
          <%= f.file_field :image, accept: "image/*", class: "w-100" %>
          
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-font-awesome"></i></span>
            </div>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-calendar"></i></span>
            </div>
            <%= f.text_field :event_date, class: "form-control"%>
          </div>
          
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-location-dot"></i></span>
            </div>
            <%= f.text_field :address, class: "form-control" %>
          </div>
          
          <%= f.text_area :caption, class: "form-control", rows: "3" %>
          <br>
          <%= f.submit 'Update', class: "btn btn-block btn-success mt-2" %>
          <%= link_to "Show", post_event_path(@post_event.id), class: "btn btn-block btn-secondary mt-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
