<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-10">
      <div class="row mt-5">
        <div class="col-4 d-flex justify-content-center">
          <%= image_tag @post_event.get_image(200,200), class: "rounded-lg" %>
        </div>
        <div class="col-7 offset-1">
          <div class="row">
            <h3><strong><%= @post_event.title %></strong></h3>
          </div>
          <div class="row mt-1">
            <h5><%= @post_event.event_date %></h5>
          </div>
          <div class="row">
            <table class="table table-borderless matsuri-style">
              <thead>
                <tr>
                  <th class="col-3"></th>
                  <th class="col-9"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>開催場所</td>
                  <td><%= @post_event.address %></td>
                </tr>
                <tr>
                  <td>説明</td>
                  <td><%= @post_event.caption %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-2">
              <%= image_tag @post_event.user.get_profile_image(70,70), class: "rounded-circle" %>
            </div>
            <div class="col-4 d-flex align-items-center pl-0">
              <%= link_to user_path(@post_event.user.id), class: "matsuri-style" do %>
                <strong><i class="fa-regular fa-user"></i><span> <%= @post_event.user.name %></span></strong>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-5">
          <%= render 'favorite-btn', post_event: @post_event %>
        </div>
        <div class="col-5">
          <%= render 'join-btn', post_event: @post_event %>
        </div>
        <div class="col-2">
          <% if @post_event.user == current_user %>
            <%= link_to "編集", edit_post_event_path(@post_event),class: "btn btn-success" %>
            <%= link_to "削除", post_event_path(@post_event), method: :delete, class: "btn btn-danger", "data-confirm" => "削除してよろしいですか?" %>
          <% end %>
        </div>
      </div>
      <div class="row my-5">
        <%= render 'comment', post_event: @post_event, post_comment: @post_comment %>
      </div>
    </div>
  </div>
</div>
