
<div>
  <%= image_tag @post_event.get_image %>
  <p>イベント名：<%= @post_event.shop_name %></p>
  <p>開催日時：<%= @post_event.event_date %></p>
  <p>説明：<%= @post_event.caption %></p>
  <p>投稿ユーザー画像：<%= image_tag @post_event.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @post_event.user.name %></p>

  <% if @post_event.user == current_user %>
  <%= link_to "削除", post_event_path(@post_event), method: :delete %>
  <% end %>
</div>

<div>
  <p>コメント件数：<%= @post_event.post_comments.count %></p>
  <% @post_event.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>

    <% if post_comment.user == current_user %>
    <%= link_to "削除", post_event_post_comment_path(post_comment.post_event, post_comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post_event, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをどうぞ" %>
    <%= f.submit "送信" %>
  <% end %>
</div>

