<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="row mt-2">
        <table class="table table-borderless matsuri-style">
          <tbody>
            <tr>
              <td><%= image_tag @post_event.get_image(200,200), class: "rounded-lg" %></td>
              <td></td>
            </tr>
            <tr>
              <td>イベント名</td>
              <td><%= @post_event.title %></td>
            </tr>
            <tr>
              <td>開催日時</td>
              <td><%= @post_event.event_date %></td>
            </tr>
            <tr>
              <td>説明</td>
              <td><%= @post_event.caption %></td>
            </tr>
            <tr>
              <td><%= image_tag @post_event.user.get_profile_image(100,100), class: "rounded-lg" %></td>
              <td><%= @post_event.user.name %></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <% if @post_event.user == current_user %>
                  <%= link_to "編集", edit_post_event_path(@post_event),class: "btn btn-success" %>
                  <%= link_to "削除", post_event_path(@post_event), method: :delete,class: "btn btn-danger", "data-confirm" => "削除してよろしいですか?" %>
                <% end %>
                <!--admin_signin?-->
                <!--削除-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row mt-2">
        <p>コメント件数：<%= @post_event.post_comments.count %></p>
        <% @post_event.post_comments.each do |post_comment| %>
          <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
          <%= post_comment.user.name %>
          <%= post_comment.comment %>
      
          <% if post_comment.user == current_user %>
          <%= link_to "削除", post_event_post_comment_path(post_comment.post_event, post_comment), method: :delete %>
          <% end %>
        <% end %>
      </div>
      <div class="row mt-2">
        <%= form_with model: [@post_event, @post_comment] do |f| %>
          <%= f.text_area :comment, rows: '3', placeholder: "コメントをどうぞ" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

